.map-block {
    position: relative;
    width: 1170px;
    height: 665px;
}

@media screen and (max-width: 1200px) {
    .map-block {
        zoom: 0.8;
    }
}

@media screen and (max-width: 992px) {
    .map-block {
        zoom: 0.6;
    }
}

/*.tab-box-contacts .tab-item{*/
/*    display: block!important;*/
/*    visibility: hidden;*/
/*    overflow: hidden;*/
/*    height: 0;*/
/*}*/

/*.tab-box-contacts .tab-item.active-tab{*/
/*    visibility: visible;*/
/*    height: 100%;*/
/*}*/

.project-block-one .inner-box {
    border: 1px solid #e5e5e5;
}

.project-block-one .inner-box a {
    height: 500px;
    object-fit: cover;
}

.project-block-one .inner-box img {
    height: auto;
    width: 100%;
}

.project-block-one .inner-box .caption2 {

}

.project-block-one .inner-box .caption2 h6 {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

.map-block .astana {
    top: 200px;
    right: 490px;
}

.map-block .ust {
    top: 235px;
    right: 125px;
}

.map-block .semey {
    top: 215px;
    right: 210px;
}

.map-block .koksh {
    top: 105px;
    right: 507px;
}

.map-block .pavl {
    top: 135px;
    right: 300px;
}

.map-block .turk {
    bottom: 130px;
    right: 540px;
}

.map-block .talk{
    bottom: 185px;
    right: 270px;
}

.map-pulse {
    position: absolute;
}

.map-pulse .map-pulse-text {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
}

.map-pulse:after {
    content: " ";
    display: inline-block;
    width: 10px;
    height: 10px;
    color: #fff;
    background-color: #fff;
    border-radius: 50%;
    animation: shadow-pulse 1s infinite;
}


.main-footer .services-widget.no-arrow .list li a:before {
    content: none;
}

.main-footer .services-widget.no-arrow .list li a i {
    margin-right: 10px;
}

.main-footer .services-widget.no-arrow .list li a {
    padding-left: 0;
    display: flex;
    align-items: center;
}


@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    }
    100% {
        box-shadow: 0 0 0 15px transparent;
    }
}

.c-main{
    color: #f79210;
}

.favorit-corruption-section .owl-dots{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
}

.favorit-corruption-section .favorit-corruption-card h6{
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}
.favorit-corruption-section .favorit-corruption-card .text{
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.5;
}
.favorit-corruption-section .fvr-cor-img{
    height: 300px;
    border-radius: 30px;
    object-fit: cover;
}

.favorit-corruption-section .owl-dots .owl-dot span{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #f79210;
    margin: 0 6px;
}

.header-upper.style-six.v-kz .main-menu .navigation > li > a{
    padding: 30px 16px;
    font-size: 13px;
}

.sticky-header.v-kz .main-menu .navigation > li > a{
    padding: 30px 16px!important;
    font-size: 13px;
}

.header-upper.style-six.v-kz .navigation > li.dropdown:before,
.sticky-header.v-kz .navigation > li.dropdown:before{
    right: -2px;
}



@media (min-width: 991px) and (max-width: 1200px){
    .main-header .sticky-header.v-kz .main-menu .navigation > li > a{
        padding: 26px 10px!important;
        font-size: 13px;
    }

    .header-upper.style-six.v-kz .main-menu .navigation > li > a{
        padding: 30px 10px!important;
        font-size: 13px;
    }

    .main-header .container{
        padding: 0!important;
    }
    .header-upper.style-six.v-kz .navigation > li.dropdown:before{
        right: -4px;
    }
    .sticky-header.v-kz .navigation > li.dropdown:before{
        right: -4px;
    }
}

.new-image{
    margin: -20px -20px 15px -20px;
    position: relative;
    height: 250px;
    overflow: hidden;
}

.new-image img{
    height: 250px;
    object-fit: cover;
}

.new-image .category{
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.main-slider2 .slider-wrapper .image{
    height: 800px;
    overflow: hidden;
}

.main-slider2 .slider-wrapper .image img{
    height: 800px;
    width: 100%;
    object-fit: cover;
}

.favorit-corruption-section .sec-title .subtitle{
    color: #fff;
}

.favorit-corruption-section .owl-dots .owl-dot.active span {
    background-color: #f79210;
}

.product-main.service-cloud .container h1{
    font-size: 42px;
}

.service-cloud-our .service-block-six .inner-box h4{
    height: auto;
}

.main-header .sticky-header .main-menu .navigation > li.dropdown ul li a .fa-angle-left {
    display: none;
}

@media only screen and (max-width: 991px) {
    .favorit-corruption-section .favorit-corruption-card{
        text-align: center;
    }

    .favorit-corruption-section .owl-dots{
        justify-content: center;
    }

    .favorit-corruption-section .favorit-corruption-card h6{
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
    }
    .favorit-corruption-section .favorit-corruption-card .text{
        color: #fff;
        font-size: 16px;
        margin-top: 10px;
        line-height: 1.5;
        margin-bottom: 30px;
    }

    .tab-box-contacts .tab-list li{
        margin-bottom: 10px;
    }

    .tab-box-contacts .tab-list li a{
        padding-bottom: 5px;
    }
    .contact-info-list li{
        width: 100%;
        padding: 0 0 20px 0;
    }

    .contact-info-list li br{
        display: none;
    }
    .product-main .container {
        padding: 100px 15px;
    }

    .page-wrapper {
        padding-top: 60px;
    }

    .main-slider2 .image {
        max-height: 550px;
        overflow: hidden;
    }

    .main-slider2 h1 {
        font-size: 42px;
        line-height: 1.3;
    }

    .page-title {
        padding-top: 0;
    }

    .sticky-header .container {
        position: relative;
    }

    .sticky-header .container img {
        width: 50px !important;
    }

    .main-header .sticky-header .main-menu .navigation > li {
        border-bottom: 1px solid #ddd;

    }

    .main-header .sticky-header .main-menu .navigation > li > a {
        padding: 15px 20px !important;
        line-height: 1.2;
        text-align: right;
    }

    .main-header .sticky-header .main-menu .navigation > li.dropdown ul li a .fa-angle-left {
        position: absolute;
        top: 0;
        right: 0;
        height: 48px;
        width: 48px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #f79210;
    }

    .main-header .sticky-header .main-menu .navigation > li.dropdown ul li a {
        color: #181818 !important;
        text-align: right;
        border-top: 1px solid #ddd;
        position: relative;
    }

    .main-header .sticky-header .main-menu .navigation > li.dropdown ul li {
        padding: 0 !important;
    }

    .main-header .sticky-header .main-menu .navigation > li.dropdown .dropdown-btn {
        color: #333;
        width: 48px;
        border-left: 1px solid #ddd;
        right: 0;
        height: 48px;
    }

    .main-header .sticky-header .main-menu .navigation > li.dropdown a {
        padding: 15px 65px 15px 20px !important;
    }

    .main-menu .navbar-collapse > .navigation > li > ul, .main-menu .navbar-collapse > .navigation > li > ul > li > ul {
        background: #fff;
        text-align: right;
    }

    .sticky-header .mobile-style {
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        height: 100vh;
        box-shadow: 0 0 5px 0 #333;
        background-color: #fff;
        transform: translateX(100%);
        z-index: 9991;
        transition: 0.5s all ease;
    }

    .mobile-menu-show .sticky-header .mobile-style {
        transform: translateX(0);
    }

    .mobile-menu-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #333;
        opacity: 0;
        visibility: hidden;
        z-index: 9989;
        transition: 0.5s all ease;
    }

    .mobile-menu-show .mobile-menu-overlay {
        opacity: 0.7;
        visibility: visible;
    }

    .sticky-header .navbar-toggle {
        position: absolute;
        top: 0;
        right: 15px;
        display: inline-block;
        z-index: 7;
        float: none;
        padding: 4px 5px;
        cursor: pointer;
        margin: 10px 0 10px 0;
        border-radius: 0;
        background: #fff
    }

    .sticky-header .navbar-toggle .icon-bar {
        background: #f79210;
        height: 2px;
        width: 29px;
        display: block;
        margin: 7px 5px
    }
}

@media only screen and (max-width: 768px) {
    .product-main .container h5{
        font-size: 36px;
    }

    .product-main .container h1{
        font-size: 32px;
        line-height: 1.3;
    }
    .product-main .container h1 {
        font-size: 36px;
        line-height: 1.3;
        text-align: center;
    }

    .product-main .container p {
        font-size: 16px;
        text-align: center;
    }

    .service-block-six .inner-box {
        width: 100%;
    }

    .product-main:before {
        opacity: 0.8;
    }

    .product-main .link-btn a {
        display: block;
        margin-bottom: 20px;
    }

    .main-slider2 h1 {
        font-size: 32px;
        line-height: 1.3;
    }

    .sec-title {
        margin-bottom: 25px;
    }

    .sec-title h1 {
        font-size: 32px;
    }

    .sec-title .big-title {
        display: none;
    }

    .sp-two {
        padding: 75px 0 40px 0;
    }

    .map-block {
        z-index: 1;
    }

    .map-container {
        overflow: auto;
    }

    .page-title h1 {
        font-size: 32px;
        line-height: 1.4;
    }
}


@media only screen and (max-width: 500px) {
    .our-experience .tab-box .tab-btn {
        font-size: 14px;
    }

    .service-block-five .inner-box h4{
        font-size: 16px;
        line-height: 1.4;
    }
}
